# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.python-version

#macos
.DS_Store
.vscode/settings.json

# API, local only tests keys etc.
.env
myshortcuts.txt
test/certtest.py
test/test_instructions.txt
